@import "./fonts.css";
@font-face {
  font-family: "HeadingNowVariable";
  src: url("https://lobby.mom/awso/css/f/HeadingNowVariable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-size: contain;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("../assets/grid.png");
  -webkit-tap-highlight-color: transparent;
}

.heading-font {
  font-family: "HeadingNowVariable", sans-serif;
  font-stretch: 75% 125%;
  font-weight: 650;
  text-transform: uppercase;
}

.gradient-text {
  background: linear-gradient(90deg, #0dc3fa, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bot-counter {
  font-size: 22px;
  background: linear-gradient(to bottom, #ffffff, #59ffd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
